*pkl
__pycache__
*pyc
data/senteval_data/downstream/RTE
data/senteval_data/downstream/mrpc_data.bash
data/senteval_data/downstream/stsbenchmark
data/senteval_data/downstream/diagnostic
data/senteval_data/downstream/WNLI
data/senteval_data/downstream/STS
data/senteval_data/downstream/QNLI
data/senteval_data/downstream/QQP
data/senteval_data/downstream/MNLI
data/senteval_data/downstream/CoLA
data/senteval_data/downstream/C
data/senteval_data/downstream/STS/STS12-en-test/STS.input.MSRpar.txt
data/senteval_data/downstream/CR/custrev.neg
data/senteval_data/downstream/CR/custrev.pos
data/senteval_data/downstream/MPQA/mpqa.neg
data/senteval_data/downstream/MPQA/mpqa.pos
data/senteval_data/downstream/MR/rt-polarity.neg
data/senteval_data/downstream/MR/rt-polarity.pos
data/senteval_data/downstream/MRPC/msr_paraphrase_test.txt
data/senteval_data/downstream/MRPC/msr_paraphrase_train.txt
data/senteval_data/downstream/SICK/SICK_test_annotated.txt
data/senteval_data/downstream/SICK/SICK_train.txt
data/senteval_data/downstream/SICK/SICK_trial.txt
data/senteval_data/downstream/SNLI/labels.dev
data/senteval_data/downstream/SNLI/labels.test
data/senteval_data/downstream/SNLI/labels.train
data/senteval_data/downstream/SNLI/s1.dev
data/senteval_data/downstream/SNLI/s1.test
data/senteval_data/downstream/SNLI/s1.train
data/senteval_data/downstream/SNLI/s2.dev
data/senteval_data/downstream/SNLI/s2.test
data/senteval_data/downstream/SNLI/s2.train
data/senteval_data/downstream/SST/binary/sentiment-dev
data/senteval_data/downstream/SST/binary/sentiment-test
data/senteval_data/downstream/SST/binary/sentiment-train
data/senteval_data/downstream/SST/fine/sentiment-dev
data/senteval_data/downstream/SST/fine/sentiment-test
data/senteval_data/downstream/SST/fine/sentiment-train
data/senteval_data/downstream/STS/STS12-en-test/00-readme.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.gs.ALL.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.gs.MSRpar.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.gs.MSRvid.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.gs.SMTeuroparl.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.gs.surprise.OnWN.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.gs.surprise.SMTnews.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.input.MSRvid.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.input.SMTeuroparl.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.input.surprise.OnWN.txt
data/senteval_data/downstream/STS/STS12-en-test/STS.input.surprise.SMTnews.txt
data/senteval_data/downstream/STS/STS13-en-test/00-readme.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.gs.FNWN.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.gs.OnWN.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.gs.SMT.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.gs.headlines.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.input.FNWN.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.input.OnWN.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.input.headlines.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.output.FNWN.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.output.OnWN.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.output.SMT.txt
data/senteval_data/downstream/STS/STS13-en-test/STS.output.headlines.txt
data/senteval_data/downstream/STS/STS13-en-test/correct-output.pl
data/senteval_data/downstream/STS/STS13-en-test/correlation.pl
data/senteval_data/downstream/STS/STS13-en-test/correlation-all.pl
data/senteval_data/downstream/STS/STS14-en-test/00-readme.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.gs.OnWN.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.gs.deft-forum.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.gs.deft-news.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.gs.headlines.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.gs.images.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.gs.tweet-news.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.input.OnWN.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.input.deft-forum.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.input.deft-news.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.input.headlines.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.input.images.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.input.tweet-news.txt
data/senteval_data/downstream/STS/STS14-en-test/STS.output.headlines.txt
data/senteval_data/downstream/STS/STS14-en-test/correlation-noconfidence.pl
data/senteval_data/downstream/STS/STS14-en-test/sts2012-test.tgz
data/senteval_data/downstream/STS/STS14-en-test/sts2012-train.tgz
data/senteval_data/downstream/STS/STS14-en-test/sts2013-test.tgz
data/senteval_data/downstream/STS/STS15-en-test/00-readme.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.answers-forums.zip
data/senteval_data/downstream/STS/STS15-en-test/STS.gs.answers-forums.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.gs.answers-students.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.gs.belief.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.gs.headlines.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.gs.images.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.input.answers-forums.LICENSE
data/senteval_data/downstream/STS/STS15-en-test/STS.input.answers-forums.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.input.answers-students.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.input.belief.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.input.headlines.txt
data/senteval_data/downstream/STS/STS15-en-test/STS.input.images.txt
data/senteval_data/downstream/STS/STS15-en-test/corebaseline-tokencos.tar.gz
data/senteval_data/downstream/STS/STS15-en-test/correlation-noconfidence.pl
data/senteval_data/downstream/STS/STS16-en-test/LICENSE.txt
data/senteval_data/downstream/STS/STS16-en-test/README.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.gs.answer-answer.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.gs.headlines.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.gs.plagiarism.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.gs.postediting.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.gs.question-question.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.input.answer-answer.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.input.headlines.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.input.plagiarism.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.input.postediting.txt
data/senteval_data/downstream/STS/STS16-en-test/STS.input.question-question.txt
data/senteval_data/downstream/STS/STS16-en-test/STS2016.input.answer-answer.ascii
data/senteval_data/downstream/STS/STS16-en-test/STS2016.input.headlines.ascii
data/senteval_data/downstream/STS/STS16-en-test/STS2016.input.plagiarism.ascii
data/senteval_data/downstream/STS/STS16-en-test/STS2016.input.postediting.ascii
data/senteval_data/downstream/STS/STS16-en-test/STS2016.input.question-question.ascii
data/senteval_data/downstream/STS/STS16-en-test/correlation-noconfidence.pl
data/senteval_data/downstream/STS/STSBenchmark/LICENSE.txt
data/senteval_data/downstream/STS/STSBenchmark/correlation.pl
data/senteval_data/downstream/STS/STSBenchmark/readme.txt
data/senteval_data/downstream/STS/STSBenchmark/sts-dev.csv
data/senteval_data/downstream/STS/STSBenchmark/sts-test.csv
data/senteval_data/downstream/STS/STSBenchmark/sts-train.csv
data/senteval_data/downstream/SUBJ/subj.objective
data/senteval_data/downstream/SUBJ/subj.subjective
data/senteval_data/downstream/TREC/TREC_10.label
data/senteval_data/downstream/TREC/train_5500.label
